<!--our content -->
<%- include("header.ejs")%>
    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="about-box">
                        <h2>contact <strong class="yellow">Our Game</strong></h2>
                        <p> orem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatem maiores eaque
                            similique non
                            distinctio voluptates perspiciatis omnis, repellendus ipsa aperiam, laudantium
                            voluptatum
                            nulla?.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, assumenda, vo
                            luptatum. Libero eligendi molestias iure error animi totam laudantium, aspernatur
                            similique
                            id eos at
                            consectetur illo culpa, </p>
                        <a href="Javascript:void(0)">Read more</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="about-box">
                        <figure><img src="images/about.jpg" alt="#" /></figure>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%-include("our_content.ejs")%>





        <!--footer .-->
        <%- include("footer.ejs")%>

            <!-- Javascript files-->
            <script src="js/jquery.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.bundle.min.js"></script>
            <script src="js/jquery-3.0.0.min.js"></script>
            <script src="js/plugin.js"></script>
            <!-- sidebar -->
            <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
            <script src="js/custom.js"></script>
            <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>




            </body>

            </html>