<style>
    .text-white {
        font-size: 20px;
    }

    .fa {
        font-size: 40px;
    }
    .container{
        
    }
</style>
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2" style="background-image: url(/img/cr1.png);   background-attachment: fixed;">
            <h6 class="text-primary text-uppercase font-weight-bold">Our Services</h6>
            <h1 class="mb-4">Best Broker Services</h1>
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-3">
                    <i class="fa fa-2x fa-bed text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">Looking for Room ?</h6>
                </div>
                <p>Are you looking for a Single Room to buy or on Rent.</p>
                <a class="border-bottom text-decoration-none" href="">Read More</a>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center  bg-primary mb-4 p-3">
                    <i class="fa fa-2x fa-building text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">Looking for Home ?</h6>
                </div>
                <p>Are you looking for a Single Room to buy or on Rent.</p>
                <a class="border-bottom text-decoration-none" href="">Read More</a>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-3">
                    <i class="fa fa-2x fa-building text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">Sell or Rent Property</h6>
                </div>
                <p>Do you want to Sell or Rent a Single Room or a Home.</p>
                <a class="border-bottom text-decoration-none" href="">Read More</a>
            </div>
        </div>
    </div>
</div>