<style>
    .fa-angle-right{
        font-size: 25px;
    }
</style>
<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="row ">
        <div class="col-lg-7 col-md-6">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h3 class="text-primary mb-4">Get In Touch</h3>
                    <p> <img class="logos" src="/img/loc.png" alt="">
 Vijay Nagar,Indore, INDIA</p>
                    <p> <img class="logos" src="/img/call.png" alt="">
 +91 6263274848</p>
                                        <img class="logos" src="/img/gmail.png" alt=""> <small>dreamhomes@gmail.com</small>
                    <div class="d-flex justify-content-start mt-4 ml-4">
                        <a class="btn btn-social ml-3" href="#"><p> <img class="logos" src="/img/call.png" alt="">
                           </p></a>
                            <a class="btn btn-social ml-3" href="#">
                                <p> <img class="logos" src="/img/fb.png" alt="">
                                </p>
                            </a>
                    <a class="btn btn-social ml-3" href="#">
                        <p> <img class="logos" src="/img/twitter.png" alt="">
                        </p>
                    </a>
                    <a class="btn btn-social ml-3" href="#">
                        <p> <img class="logos" src="/img/linkedin.png" alt="">
                        </p>
                    </a>
                    <a class="btn btn-social ml-3" href="#">
                        <p> <img class="logos" src="/img/insta.png" alt="">
                        </p>
                    </a>
                                        <a class="btn btn-social ml-3" href="#">
                                            <p> <img class="logos" src="/img/yt.png" alt="">
                                            </p>
                                        </a>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <h3 class="text-primary mb-4">Quick Links</h3>
                    <div class="d-flex flex-column">
                        <a class="text-white mb-2" href="http://localhost:3000/home"><i class="fa fa-angle-right ml-3 angle mr-2"></i>Home</a>
                        <a class="text-white mb-2" href="http://localhost:3000/about"><i class="fa fa-angle-right ml-3 mr-2"></i>About
                            </a>
                        <a class="text-white mb-2" href="http://localhost:3000/service"><i class="fa fa-angle-right ml-3 mr-2"></i>
                            Service</a>
                        <a class="text-white mb-2" href="http://localhost:3000/contact"><i class="fa fa-angle-right ml-3 mr-2"></i>Contact
                            </a>
                        <a class="text-white" href="http://localhost:3000/register"><i class="fa fa-angle-right ml-3 mr-2"></i>Register
                            </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 ">
            <h3 class="text-primary ">Newsletter</h3>
            <p>At dreamhomes@gmail.com, we understand that people everywhere are searching for a home to call their own. We want to make this
            search as joyful as finally finding the perfect home because we understand that finding a home is much more than an
            online search!
           </p>
            <div class="w-100">
                <div class="input-group">
                    <input type="text" class="form-control border-light" style="padding: 25px;"
                        placeholder="Your Email Address">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top  px-sm-3 px-md-5"
    style="border-color: #3E3E4E !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white">Copyright &copy; 2022 <a href="#">Dreamhomes</a>. All Rights Reserved.

                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
               <br><small> Designed by <a href="https://htmlcodex.com">Nirnjan Patel</small></a>
            </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
            <ul class="nav d-inline-flex">
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Help</a>
                </li>
            </ul>
        </div>
    </div>
</div>