<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DREAMHOMES - Logistics Company </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/dreamhomes.png" rel="icon" type="image/x-icon">>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <style>
        .container-fluid {
            padding: 10px;
        }≈

        small {
            font-size: 20px;
        }

        .fa,
        .fab {
            font-size: 30px;
        }

        .logos {
            height: 30px;
            width: 30px;
        }

        .logostw {
            height: 40px;
            width: 40px;
        }
    </style>
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark ">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center text-white">
                    <img class="logos" src="/img/call.png" alt="">
                    <small style="margin-left: 5px;">+012 345 6789</small>
                    <small class="px-3"></small>
                    <img class="logos" src="/img/gmail.png" alt="">
                    &nbsp;&nbsp;&nbsp;&nbsp;<small>dreamhomes@gmail.com</small>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-2" href="">
                        <img class="logos" src="/img/fb.png" alt="">
                    </a>
                    <a class="text-white px-2" href="">
                        <img class="logostw" src="/img/twitter.png" alt="">

                    </a>
                    <a class="text-white px-2" href="">
                        <img class="logos" src="/img/linkedin.png" alt="">
                    </a>
                    <a class="text-white px-2" href="">
                        <img class="logos" src="/img/insta.png" alt="">
                    </a>
                    <a class="text-white pl-2" href="">
                        <img class="logos" src="/img/yt.png" alt="">

                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->